<!--
  Generated template for the Single page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Media</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [ngSwitch]="edit">
  <div *ngSwitchCase="false">
    <ion-card *ngIf="mediaInfo">
        <ion-item>
          <h2 *ngIf="groupInfo" color="primary" (click)="loadGroup(groupInfo.id)">{{ groupInfo.name }}</h2>
          <h2 ion-text item-right color="secondary">{{ username }}</h2>
        </ion-item>

      <ion-card-content>
        <img *ngIf="mediaInfo.media_type == 'image'" [src]="api_url + mediaInfo.file_name" [alt]="mediaInfo.title"/>
        <like-box></like-box>
        <favorite-box></favorite-box>

        <video *ngIf="mediaInfo.media_type == 'video'" width="100%" controls>
          <source [src]='api_url + mediaInfo.file_name'>
          Your browser does not support the video tag.
        </video>
        <audio *ngIf="mediaInfo.media_type == 'audio'" controls>
          <source [src]='api_url + mediaInfo.file_name'>
          Your browser does not support the audio element.
        </audio>
        <iframe ion-item *ngIf="mediaInfo.media_type == 'youtube'"
                [src]="mediaInfo.youtube_url | safe" frameborder="0" allowfullscreen>
        </iframe>
      </ion-card-content>
      <ion-card-content *ngIf="mediaInfo.media_type == 'text' && textMediaContent"
                        [innerHtml]="textMediaContent">
      </ion-card-content>
      <ion-card-content *ngIf="mediaInfo.media_type == 'text'">
        <a ion-button [href]="api_url + mediaInfo.file_name" [target]="_blank">{{mediaInfo.title}}</a>
      </ion-card-content>
      <ion-item><h2>{{ mediaInfo.title }}</h2><span ion-text item-right color="primary">{{mediaInfo.tag | language}}</span></ion-item>
      <ion-card-content>{{ mediaInfo.description }}</ion-card-content>
    </ion-card>
    <button *ngIf="owner" ion-button block (click)="editClick()">Edit</button>
  </div>

  <div *ngSwitchCase="true">
    <ion-card *ngIf="editMedia">
      <ion-item>
      <h2 *ngIf="groupInfo">{{ groupInfo.name }}</h2>
      <h2 item-right>{{ username }}</h2>
    </ion-item>
      <ion-card-content>
        <img *ngIf="mediaInfo.media_type == 'image'" [src]="api_url + mediaInfo.file_name" [alt]="mediaInfo.title"/>
        <video *ngIf="mediaInfo.media_type == 'video'" width="100%" controls>
          <source [src]='api_url + mediaInfo.file_name'>
          Your browser does not support the video tag.
        </video>
        <audio *ngIf="mediaInfo.media_type == 'audio'" controls>
          <source [src]='api_url + mediaInfo.file_name'>
          Your browser does not support the audio element.
        </audio>
        <iframe ion-item *ngIf="mediaInfo.media_type == 'youtube'"
                [src]="mediaInfo.youtube_url | safe" frameborder="0" allowfullscreen>
        </iframe>
      </ion-card-content>
      <ion-card-content *ngIf="mediaInfo.media_type == 'text' && textMediaContent"
                        [innerHtml]="textMediaContent"></ion-card-content>
      <ion-card-content *ngIf="mediaInfo.media_type == 'text'">
        <a ion-button [href]="api_url + mediaInfo.file_name" [target]="_blank">{{mediaInfo.title}}</a>
      </ion-card-content>
      <ion-card-title>
        <ion-label stacked color="primary">Title</ion-label>
        <ion-input [(ngModel)]="editMedia.title"></ion-input>
      </ion-card-title>
      <ion-item>
        <ion-label color="primary">Language</ion-label>
        <ion-select
          (ionChange)="langChange()"
          [(ngModel)]="editMedia.tag"
        >
          <ion-option
            *ngFor="let lng of languages"
            [value]="lng.value"
          >
            {{ lng.name }}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary">New Group</ion-label>
        <ion-checkbox
          [(ngModel)]="groupNew"
          (click)="newGroupChange($event)"
        ></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Optional, minimum 4 letters, maximum 50 letters</ion-label>
        <ion-input
          [(ngModel)]="newGroupName"
          [disabled]="!groupNew"
          placeholder="New group name"
          pattern=".{4,50}"
        ></ion-input>
      </ion-item>
      <ion-item *ngIf="userGroupsInSelectedTag[0]">
        <ion-label color="primary">Old Group</ion-label>
        <ion-checkbox
          [(ngModel)]="groupOld"
          (click)="oldGroupChange($event)"
        ></ion-checkbox>
      </ion-item>
      <ion-item *ngIf="userGroupsInSelectedTag[0]">
        <ion-label color="primary">Select:</ion-label>
        <ion-select
          [disabled]="!groupOld"
          [(ngModel)]="userGroupsSelectedId"
        >
          <ion-option
            *ngFor="let group of userGroupsInSelectedTag"
            [value]="group.id"
          >
            {{ group.name }}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-card-content>
        <ion-label stacked color="primary">Description</ion-label>
        <ion-textarea
          [(ngModel)]="editMedia.description"
        ></ion-textarea>
      </ion-card-content>
    </ion-card>
    <button ion-button block (click)="saveClick()">Save</button>
  </div>

  <div id='comments'>
    Comment
      <ion-input
        [(ngModel)]="txtcomment"
        placeholder="Your Comment"
      ></ion-input>
      <button ion-button (click)="comment($event)">Post Comment</button>

    <h4>Comments</h4>
    <ul>
      <li *ngFor="let comnt of comments"> {{ comnt.comment }}</li>
    </ul>


  </div>

</ion-content>
