
<form (ngSubmit)="onSignup()">
  <input
    type="text"
    required
    [(ngModel)]="newUser.username"
    name="username"
    placeholder="Username"
  >
  <input
    type="password"
    required
    [(ngModel)]="newUser.password"
    name="password"
    placeholder="Password"
  >
  <input
    type="email"
    required
    [(ngModel)]="newUser.email"
    name="email"
    placeholder="E-mail"
  >
  <button type="submit">Singup</button>
</form><br>
<form (ngSubmit)="onSignin()">
  <input
    type="text"
    required
    [(ngModel)]="signinUser.username"
    name="username"
    placeholder="Username"
  >
  <input
    type="password"
    required
    [(ngModel)]="signinUser.password"
    name="password"
    placeholder="Password"
  >
  <button type="submit">Singin</button>
</form>

<div>
  <p>
    todo: <br>
    < >make button to switch between signup and signin<br>
    <*>send signup form to http://media.mw.metropolia.fi/wbma/users<br>
    < >send signin form to http://media.mw.metropolia.fi/wbma/login whitout email<br>
    < >hide email in signin form and dont send it
  </p>
</div>
