<!--
  Generated template for the Group page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Course menu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="groupInfo">
    <ion-item *ngIf="userInfo && !edit">
      <h1>{{ groupInfo.name }}</h1>
      <h2 item-right ion-text color="primary">{{ groupInfo.tag | language }}</h2>
      <p><span ion-text color="primary">Creator:</span> {{ userInfo.id | GetUsername}}</p>
    </ion-item>
    <ion-card-title *ngIf="edit">
      <ion-input [(ngModel)]="groupInfo.name"></ion-input>
    </ion-card-title>
    <ion-item *ngIf="edit">
      <ion-label color="primary">Language</ion-label>
      <ion-select
        [(ngModel)]="groupInfo.tag"
      >
        <ion-option
          *ngFor="let lng of languages"
          [value]="lng.value"
        >
          {{ lng.name }}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-card-content>
      <ion-label stacked color="primary">Description</ion-label>
      <p *ngIf="!edit">{{ groupInfo.description }}</p>
      <ion-textarea *ngIf="edit" [(ngModel)]="groupInfo.description"></ion-textarea>
    </ion-card-content>
  </ion-card>
  <button ion-button block *ngIf="edit" (click)="save()">Save</button>
  <button ion-button block *ngIf="owner" (click)="changeEdit()">{{ changeEditButton }}</button>
  <ion-list *ngIf="groupMedia">
    <ion-item *ngFor="let media of groupMedia; let i = index">
      <ion-thumbnail item-left (click)="itemTapped($event, media.id)">
        <img *ngIf="media.media_type == 'image'" [alt]="media.title" [src]='api_url + "small/" + media.file_name'/>
        <img *ngIf="media.media_type == 'audio'" [alt]="media.title" [src]='api_url + "thumbnails/audio.jpg"'/>
        <img *ngIf="media.media_type == 'video'" [alt]="media.title" [src]='api_url + "thumbnails/video.jpg"'/>
        <img *ngIf="media.media_type == 'text'" [alt]="media.title" [src]='api_url + "thumbnails/text.jpg"'/>
        <img *ngIf="media.media_type == 'youtube'" [alt]="media.title" [src]='api_url + "thumbnails/youtube.jpg"'/>
      </ion-thumbnail>
      <h2>{{ media.title }}</h2>
      <p>{{ media.description }}</p>
      <span item-right *ngIf="owner && edit">
        <button *ngIf="i > 0" ion-button (click)="upArrowPressed(i)">
          <ion-icon name="arrow-up"></ion-icon>
        </button>
        <button *ngIf="i < groupMedia.length -1" ion-button (click)="downArrowPressed(i)">
          <ion-icon name="arrow-down"></ion-icon>
        </button></span>
      <button ion-button clear item-right (click)="itemTapped($event, media.id)">View</button>
    </ion-item>
  </ion-list>
</ion-content>
