<!--
  Generated template for the Group page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Course menu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="groupInfo">
    <ion-item *ngIf="userInfo">
      <h1>{{ groupInfo.name }}</h1>
      <h2 item-right ion-text color="primary">{{ groupInfo.tag | language }}</h2>
      <p>Made by: {{ userInfo.username }}</p>
    </ion-item>
  </ion-card>
  <button ion-button block *ngIf="edited" (click)="saveMediaOrder()">Save media order</button>
  <ion-list *ngIf="groupMedia">
    <ion-item *ngFor="let media of groupMedia; let i = index">
      <ion-thumbnail item-left (click)="itemTapped($event, media.id)">
        <img *ngIf="media.media_type == 'image'" [alt]="media.title" [src]='api_url + "small/" + media.file_name'/>
        <img *ngIf="media.media_type == 'audio'" [alt]="media.title" [src]='api_url + "thumbnails/audio.jpg"'/>
        <img *ngIf="media.media_type == 'video'" [alt]="media.title" [src]='api_url + "thumbnails/video.jpg"'/>
        <img *ngIf="media.media_type == 'text'" [alt]="media.title" [src]='api_url + "thumbnails/text.jpg"'/>
        <img *ngIf="media.media_type == 'youtube'" [alt]="media.title" [src]='api_url + "thumbnails/youtube.jpg"'/>
      </ion-thumbnail>
      <h2>{{ media.title }}</h2>
      <p>{{ media.description }}</p>
      <span item-right>
        <button *ngIf="i > 0" ion-button (click)="upArrowPressed(i)">
          <ion-icon name="arrow-up"></ion-icon>
        </button>
        <button *ngIf="i < groupMedia.length -1" ion-button (click)="downArrowPressed(i)">
          <ion-icon name="arrow-down"></ion-icon>
        </button></span>
      <button ion-button clear item-right (click)="itemTapped($event, media.id)">View</button>
    </ion-item>
  </ion-list>
</ion-content>
