// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: Bitter-Regular;
  src: url("../assets/fonts/Bitter-Regular.ttf");
  font-family: Lato-Regular;
  src: url("../assets/fonts/Lato-Regular.ttf");
}

body, p {
  font-family: Bitter-Regular !important;
}
button, h1, h2, h3, h4, h5, h6, ion-title {
  font-family: Lato-Regular !important;
  font-weight: bold;
}

ion-title {
  .toolbar-title {
    padding-left: 40px;
    text-align: center;
    color: color($colors, light);
  }
}

.menu-inner {
  .toolbar-background {
    background-color: color($colors, primary);
  }
  .toolbar-title {
    color: color($colors, light);
  }

  .scroll-content {
    background: linear-gradient(to bottom, color($colors, primary) 60%, color($colors, peach) 100%);
    .item {
      background-color: color($colors, primary);
      color: color($colors, light);
    }
  }

  ion-footer {
     background: color($colors, peach);
  }
}



ion-navbar {
  .toolbar {
    min-height: 50px;
  }

  .side {
    padding: 0;
  }

  .red, .toolbar-background {
    background: linear-gradient(to right, color($colors, primary) 0%, color($colors, peach) 100%);
  }
  .light {
    color: color($colors, light);
  }
  .bar-button {
    font-size: 3rem;
  }
  img {
    padding-top: 4px;
    width: 40px;
  }
  ion-icon {
    padding-right: 5px;
    color: color($colors, light);
  }
}

.thin {
  min-height: 1px;
  max-height: 2px;
  background-color: color($colors, peach);
}
