<!--
  Generated template for the Search page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Search</ion-title>
    <ion-buttons class="light" end>
      <button ion-button strong (click)="toHome()">
        <img class="side" alt="DAO OF CODE">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-searchbar (ionInput)="getContent($event)"></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-toggle [(ngModel)]="title" checked="true"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Description</ion-label>
      <ion-toggle [(ngModel)]="description" checked="true"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Language</ion-label>
      <ion-select
        name="tagselect"
        [(ngModel)]="tag"
      >
        <ion-option *ngFor="let lang of languages" value="{{ lang.value }}">{{ lang.name }}</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>
  <ion-list-header>RESULTS</ion-list-header>
  <ion-list *ngIf="contentList">
    <ion-item *ngFor="let content of contentList">
      <ion-thumbnail *ngIf="content.name" item-left (click)="itemTapped($event, content.id)">
        <img [alt]="content.name" [src]='api_url + "thumbnails/text.jpg"'/>
      </ion-thumbnail>
      <ion-thumbnail *ngIf="content.title" item-left (click)="itemTapped($event, content.id)">
        <img *ngIf="content.media_type == 'image'" [alt]="content.title"
             [src]='api_url + "small/" + content.file_name'/>
        <img *ngIf="content.media_type == 'audio'" [alt]="content.title" [src]='api_url + "thumbnails/audio.jpg"'/>
        <img *ngIf="content.media_type == 'video'" [alt]="content.title" [src]='api_url + "thumbnails/video.jpg"'/>
        <img *ngIf="content.media_type == 'text'" [alt]="content.title" [src]='api_url + "thumbnails/text.jpg"'/>
        <img *ngIf="content.media_type == 'youtube'" [alt]="content.title" [src]='api_url + "thumbnails/youtube.jpg"'/>
      </ion-thumbnail>
      <h2>{{ content.name ? content.name : content.title }}</h2>
      <p>{{ content.description }}</p>
      <p item-right>{{content.tag | language }}</p>
      <button ion-button clear item-right (click)="itemTapped($event, content.id)">View</button>
    </ion-item>
  </ion-list>
</ion-content>
