<!--
  Generated template for the Upload page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Upload</ion-title>
    <ion-buttons class="light" end>
      <button ion-button strong (click)="toHome()">
        <img class="side" src="http://users.metropolia.fi/~tundet/web/images/daicon.svg" alt="DAO OF CODE">
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-segment [(ngModel)]="uploadType">
    <ion-segment-button value="file">
      File
    </ion-segment-button>
    <ion-segment-button value="youtube">
      Youtube
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content padding>
  <form>
    <ion-list [ngSwitch]="uploadType">
      <ion-item *ngSwitchCase="'file'">
        <input
          type="file"
          name="imagefile"
          (change)="fileChange($event)"
          accept="image/gif,
            image/jpeg,
            image/png,
            audio/mpeg3,
            audio/mpeg,
            audio/wav,
            audio/xflac,
            audio/ogg,
            audio/mpg,
            video/avi,
            video/3gpp,
            video/ogg,
            video/mp4,
            video/mpeg,
            application/javascript,
            application/ecmascript,
            application/sql,
            application/php,
            text/plain,
            text/x-java-source,
            text/x-script.python,
            text/x-c,
            text/x-php,
            text/php,
            text/html,
            text/css"
        >
      </ion-item>
      <ion-item *ngSwitchCase="'youtube'">
        <ion-label color="primary" stacked>Youtube video link</ion-label>
        <ion-input
          type="text"
          name="formyoutubeLink"
          (change)="youtubeLinkChange()"
          [(ngModel)]="formyoutubeLink"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Minimum 4 letters, maximum 50 letters</ion-label>
        <ion-input
          type="text"
          name="formtitle"
          [(ngModel)]="formtitle"
          placeholder="title"
          pattern=".{4,50}"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Description</ion-label>
        <ion-textarea
          name="formdescription"
          [(ngModel)]="formdescription"
          required
        ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Language</ion-label>
        <ion-select
          name="formlangselect"
          [(ngModel)]="formlang"
          (ionChange)="formLangChange()"
          required
        >
          <ion-option *ngFor="let lang of languages" value="{{ lang.value }}">{{ lang.name }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary">New Group</ion-label>
        <ion-checkbox
          name="formnewgroupcb"
          [(ngModel)]="groupNew"
          (click)="newGroupChange($event)"
        ></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Optional, minimum 4 letters, maximum 50 letters</ion-label>
        <ion-input
          type="text"
          name="newgroupname"
          [(ngModel)]="formnewgroupname"
          [disabled]="!groupNew"
          placeholder="New group name"
          pattern=".{4,50}"
        ></ion-input>
      </ion-item>
      <ion-item *ngIf="formOldGroupsInSelectedTag[0]">
        <ion-label color="primary">Old Group</ion-label>
        <ion-checkbox
          name="formoldgroupcb"
          [(ngModel)]="groupOld"
          (click)="oldGroupChange($event)"
        ></ion-checkbox>
      </ion-item>
      <ion-item *ngIf="formOldGroupsInSelectedTag[0]">
        <ion-label color="primary">Select:</ion-label>
        <ion-select
          name="formoldgroupselect"
          [disabled]="!groupOld"
          [(ngModel)]="oldGroupsSelectedId"
        >
          <ion-option
            *ngFor="let group of formOldGroupsInSelectedTag" value="{{ group.id }}"
          >
            {{ group.name }}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <button ion-button block (click)="submitNewMedia()">Upload</button>
  </form>
</ion-content>
