<!--
  Generated template for the Upload page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Upload</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div>
    <canvas #myCanvas>
    </canvas>
    <form (submit)="submitNewMedia()">
      <ul>
        <li>
          <input
            type="checkbox"
            name="videocb"
            [(ngModel)]="typeVideoFile"
            (change)="typeChange($event)"
          > Video:
          <input
            type="file"
            name="videofile"
            (change)="videoFileChange($event)"
            [disabled]="!typeVideoFile"
          >
        </li>
        <li>
          <input
            type="checkbox"
            name="imagecb"
            [(ngModel)]="typeImageFile"
            (change)="typeChange($event)"
          >Image:
          <input
            type="file"
            name="imagefile"
            (change)="imageFileChange($event)"
            [disabled]="!typeImageFile"
          >
        </li>
        <li>
          <input
            type="checkbox"
            name="youtube"
            [(ngModel)]="typeYoutube"
            (change)="typeChange($event)"
          >
          <input
            type="text"
            name="formyoutubeLink"
            [(ngModel)]="formyoutubeLink"
            placeholder="youtube video url"
            [disabled]="!typeYoutube"
          >
        </li>
        <li>
          <input
            type="text"
            name="formtitle"
            [(ngModel)]="formtitle"
            placeholder="title"
            pattern=".{4,50}"
            required
          /> | Minimum 4 letters, maximum 50 letters
        </li>
        <li>
        <textarea
          name="formdescription"
          [(ngModel)]="formdescription"
          placeholder="description"
          required
        ></textarea>
        </li>
        <li>
          <input
            type="checkbox"
            name="gNew"
            [(ngModel)]="groupNew"
            (change)="typeChange($event)"
          > New group;
          <input
            type="text"
            name="newgroupname"
            [(ngModel)]="formnewgroupname"
            [disabled]="!groupNew"
            placeholder="New group name"
            pattern=".{4,50}"
          > | Optional, minimum 4 letters, maximum 50 letters
        </li>
        <li>Language:
          <select
            [disabled]="!groupNew"
            (change)="newGroupsLangSelectedChange($event.target.options[$event.target.selectedIndex].value)"
          >
            <option *ngFor="let lang of languages" value="{{ lang.value }}">{{ lang.name }}</option>
          </select>
        </li>
        <li>
          <input
            type="checkbox"
            name="gOld"
            [(ngModel)]="groupOld"
            (change)="typeChange($event)"
          > Old group
          <select
            [disabled]="!groupOld"
            (change)="oldGroupsSelectedChange(
            $event.target.options[$event.target.selectedIndex].value,
            $event.target.options[$event.target.selectedIndex].getAttribute('data-group-tag')
          )"
          >
            <option
              *ngFor="let group of oldGroups; let i = index" value="{{ group.id }}"
              [attr.data-group-tag]="group.tag"
            >
              {{ group.name }}
            </option>
          </select>
        </li>
        <li>Language: {{ oldGroupsSelectedTag }}</li>
      </ul>
      <button ion-button class="submit-btn" type="submit">Upload</button>
    </form>
  </div>

  <div *ngIf="TODO">
    <h3>TODO</h3>
    <p>File upload:</p>
    <p>Todo:</p>
    <p><*> Form</p>
    <p><*> Preview</p>
    <p><*> Grouping</p>
    <p>< > patterns</p>
    <p>< > Something!</p>
  </div>

</ion-content>


