<div>
  <div>
    <form (ngSubmit)="onGetUser()">
      <input
        placeholder="Username/id"
        type="text"
        required
        [(ngModel)]="getValue.value"
        name="username"
      >
      <button type="submit">Get</button>
    </form>
  </div>
  <div *ngIf="gotUser.id != ''">
    <h3>User info:</h3>
    <p>Id: {{ gotUser.id }}</p>
    <p>Username: {{ gotUser.username }}</p>
    <p>Email: {{ gotUser.email }}</p>
    <p>Created: {{ gotUser.created_at }}</p>
  </div>
  <div *ngIf="userMedias != null">
    <h3>User Medias:</h3>
    <div *ngFor="let media of userMedias">
      <p>Id: {{ media.id }}</p>
      <p>User_id: {{ media.user_id }}</p>
      <p>Group_id {{media.group_id}} </p>
      <p>File name: {{ media.file_name }}</p>
      <p>Title: {{ media.title }}</p>
      <p>Description: {{ media.description }}</p>
      <p>Tag: {{ media.tag }}</p>
      <p>Media type: {{ media.media_type }}</p>
      <p>Mime_type: {{ media.mime_type }}</p>
      <p>Group_priority: {{ media.group_priority }}</p>
      <p>Created_at: {{ media.created_at }}</p>
      <p>Updated_at: {{ media.updated_at }}</p>
    </div>
  </div>
  <div *ngIf="TODO">
    <h3>TODO</h3>
    <p>do something!</p>
    <p>Todo:</p>
    <p>< > something!</p>
  </div>
</div>
