.md, .ios, .wp {
  page-page1 {

    ion-navbar{
      img{
        margin-left: 25px;
      }
    }
  }

  .blacktoast {
    > div {
      background-color: color($colors, secondary);
      color: color($colors, light);
      text-align: center;
    }
  }
}
