<ion-header>
  <ion-navbar>
    <ion-title *ngIf="signInMode">Singin</ion-title>
    <ion-title *ngIf="!signInMode">Singup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!loggedinMode">
    <div *ngIf="newUserHasBeenMade">
      New user has been made! Username: {{ newUser.username }}, Email: {{ newUser.email }}
    </div>
    <ion-list *ngIf="signInMode">
      <ion-item>
        <ion-label color="primary" stacked>
          Username:
        </ion-label>
        <ion-input
          [(ngModel)]="signinUser.username"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>
          Password:
        </ion-label>
        <ion-input
          type="password"
          [(ngModel)]="signinUser.password"
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="!signInMode">
      <ion-item>
        <ion-label color="primary" stacked>
          Username:
        </ion-label>
        <ion-input
          [(ngModel)]="newUser.username"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>
          Password:
        </ion-label>
        <ion-input
          type="password"
          [(ngModel)]="newUser.password"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>
          Email:
        </ion-label>
        <ion-input
          type="email"
          [(ngModel)]="newUser.email"
        ></ion-input>
      </ion-item>
    </ion-list>
    <button *ngIf="signInMode" ion-button block (click)="onSignin()">Singin</button>
    <button *ngIf="!signInMode" ion-button block (click)="onSignup()">Singup</button>
    <button ion-button small full outline (click)="changeSignupMode()" class="mode-change-link">
      {{ linkText }}
    </button>
  </div>
  <div *ngIf="loggedinMode">
    Username: {{ loggedinUser.username }}, Token: {{ loggedinUser.token }}<br>
    <a (click)="signout()" class="mode-change-link">
      Signout
    </a>
  </div>
</ion-content>
