<ion-header>
  <ion-navbar>
    <button ion-button menuToggle item-left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="red"><img src="http://users.metropolia.fi/~tundet/web/images/daicon.svg" alt="DAO OF CODE">
    </ion-title>
    <ion-buttons class="light" end>
      <button ion-button strong (click)="toSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button strong (click)="toProfile()">
        <ion-icon name="md-person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list-header>
    <h2 color="secondary">
      Trending
    </h2>
  </ion-list-header>
  <div>
    <ion-slides *ngIf="featured[0]">
      <ion-slide *ngFor="let medium of featured; let i = index" (ionSlideDidChange)="slideChanged()">
        <ion-item no-lines class="centeringSlide">
          <ion-icon *ngIf="i != 0" item-left name="ios-arrow-back" (click)="changeSlide(false)"></ion-icon>
          <ion-icon *ngIf="i == 0" item-left name="ios-arrow-back" (click)="changeSlide(featured.length -1)"></ion-icon>
          <ion-thumbnail item-left (click)="itemTapped($event, medium.id)">
            <img *ngIf="medium.media_type == 'image'" [alt]="medium.title"
                 [src]='api_url + "small/" + medium.file_name'/>
            <img *ngIf="medium.media_type == 'audio'" [alt]="medium.title" [src]='api_url + "thumbnails/audio.jpg"'/>
            <img *ngIf="medium.media_type == 'video'" [alt]="medium.title" [src]='api_url + "thumbnails/video.jpg"'/>
            <img *ngIf="medium.media_type == 'text'" [alt]="medium.title" [src]='api_url + "thumbnails/text.jpg"'/>
            <img *ngIf="medium.media_type == 'youtube'" [alt]="medium.title"
                 [src]='api_url + "thumbnails/youtube.jpg"'/>
          </ion-thumbnail>
          <div (click)="itemTapped($event, medium.id)">
            <h2>{{ medium.title }}</h2>
            <p>{{ medium.description }}</p>
            <p>By: <span ion-text color="secondary">{{ featuredUsers[i] }}</span></p>
            <p ion-text color="primary">{{ medium.tag | language }}</p>
          </div>
          <ion-icon *ngIf="i < featured.length -1" item-right name="ios-arrow-forward"
                    (click)="changeSlide(true)"></ion-icon>
          <ion-icon *ngIf="i == (featured.length - 1)" item-right name="ios-arrow-forward"
                    (click)="changeSlide(0)"></ion-icon>
        </ion-item>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-item-divider class="thin"></ion-item-divider>
    <ion-list-header>
      <h2 color="secondary">
        Browse
      </h2>
    </ion-list-header>

    <ion-segment [(ngModel)]="courses_posts" color="primary">
      <ion-segment-button value="courses">
        <h5>
          <ion-icon name="book"></ion-icon>
          Courses
        </h5>
      </ion-segment-button>
      <ion-segment-button value="posts">
        <h5>
          <ion-icon name="clipboard" item-top></ion-icon>
          Posts
        </h5>
      </ion-segment-button>
    </ion-segment>
    <ion-grid>
      <ion-row *ngFor="let row of shownLanguageList">
        <ion-col>
          <ion-item (click)="langTapped($event, row[0].value)" no-lines>
            <ion-thumbnail>
              <img [alt]="row[0].name" [src]="api_url + 'icons/' + row[0].value + '.jpg '">
            </ion-thumbnail>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item (click)="langTapped($event, row[1].value)" no-lines>
            <ion-thumbnail>
              <img [alt]="row[1].title" [src]="api_url + 'icons/' + row[1].value + '.jpg '"/>
            </ion-thumbnail>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
