.ios, .md {

  page-page2 {

    .slider {
      height: 100%;
    }

    .slider-slide {
      padding-top: 120px;
      color: #000;
      background-color: #fff;
      text-align: center;
      font-weight: 300;
    }

    .centeringSlide {
      .item-inner {
        .input-wrapper {
          margin-right: 13px;
        }
      }
    }

    ion-list-header {
      justify-content: center;
      text-align: center;
      text-transform: capitalize;
      h1 {
        font-weight: bold;
      }
      .list-header{
        border-top: 0px;
        border-bottom: 1px;
      }
    }

    ion-col {
      ion-thumbnail {
        img {
          margin: auto;
        }
      }
      h2 {
        text-align: center;
      }
      ion-item {
        background-color: fff;
        border-bottom: none !important;
      }

      ion-label {
        white-space: normal;
      }

      ion-item-sliding {
        margin: 10px;
      }
    }

    ion-segment-button {
      max-width: 150px;
      border-style: solid;
      color: color($colors, light);
    }

    .segment-button {
      border-style: none;
      color: grey;
      h5 {
        margin-top: 0.2rem;
        margin-bottom: 0.6rem;
      }
    }

    .segment-button:first-of-type {
      border-radius: 200px;
      margin: 10px 20px 0 0;
      line-height: 3.4rem;
      height: 100%;
      width: 100%
    }
    .segment-button:not(:first-of-type) {
      border-radius: 50%;
      margin-right: 20px;
      margin-top: 5px;
      margin-left: 20px;
      line-height: 3.4rem;
      height: 100%;
      width: 100%;
    }
    .segment-button:last-of-type {
      border-radius: 200px;
      margin-right: 0px;
      margin-top: 5px;
      margin-left: 20px;
      line-height: 3.4rem;
      height: 100%;
      width: 100%;
    }

    .segment-button.segment-activated {
      color: color($colors, light);
      background-color: color($colors, primary);
    }
  }

  ion-col {
    ion-thumbnail {
      img {
        width: 100px;
        height: 100px;
      }
    }
  }

  ion-label {
    h2 {
      color: color($colors, primary);
    }
  }
}
