<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Browse</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-title>Trending</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list-header color="light">
      Trending
  </ion-list-header>

  <div class="trending">
    <ion-slides>
      <ion-slide *ngFor="let pic of newPics" (ionSlideDidChange)="slideChanged()">
        <ion-item width="50%">
          <ion-thumbnail item-top (click)="itemTapped($event, pic.id)">
            <img *ngIf="pic.media_type == 'image'" [alt]="pic.title" [src]='api_url + "small/" + pic.file_name'/>
            <img *ngIf="pic.media_type == 'audio'" [alt]="pic.title" [src]='api_url + "thumbnails/audio.jpg"'/>
            <img *ngIf="pic.media_type == 'video'" [alt]="pic.title" [src]='api_url + "thumbnails/video.jpg"'/>
            <img *ngIf="pic.media_type == 'text'" [alt]="pic.title" [src]='api_url + "thumbnails/text.jpg"'/>
            <img *ngIf="pic.media_type == 'youtube'" [alt]="pic.title" [src]='api_url + "thumbnails/youtube.jpg"'/>
          </ion-thumbnail>
          <h2 item-bottom>{{ pic.title }}</h2>
          <p item-bottom>{{ pic.tag | language }}</p>
        </ion-item>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-segment [(ngModel)]="courses_posts" color="primary">
    <ion-segment-button value="courses" (ionSelect)="selectedCourses()">
      <ion-icon name="book"> </ion-icon>
      Courses
    </ion-segment-button>
    <ion-segment-button value="posts" (ionSelect)="selectedPosts()">
    <ion-icon name="clipboard" item-top></ion-icon>
      Posts
    </ion-segment-button>
  </ion-segment>


  <ion-list>
    <ion-item *ngFor="let pic of newPics">
      <ion-thumbnail item-left (click)="itemTapped($event, pic.id)">
        <img *ngIf="pic.media_type == 'image'" [alt]="pic.title" [src]='api_url + "small/" + pic.file_name'/>
        <img *ngIf="pic.media_type == 'audio'" [alt]="pic.title" [src]='api_url + "thumbnails/audio.jpg"'/>
        <img *ngIf="pic.media_type == 'video'" [alt]="pic.title" [src]='api_url + "thumbnails/video.jpg"'/>
        <img *ngIf="pic.media_type == 'text'" [alt]="pic.title" [src]='api_url + "thumbnails/text.jpg"'/>
        <img *ngIf="pic.media_type == 'youtube'" [alt]="pic.title" [src]='api_url + "thumbnails/youtube.jpg"'/>
      </ion-thumbnail>
      <h2>{{ pic.title }}</h2>
      <p>{{ pic.description }}</p>
      <p item-right>{{ pic.tag | language }}</p>
      <button ion-button clear item-right (click)="itemTapped($event, pic.id)">View</button>
    </ion-item>
  </ion-list>

  <!--<ion-list>
    <button ion-item *ngFor="let pic of newPics" (click)="itemTapped($event, pic.id)">
      <img *ngIf="pic.media_type == 'image'" [alt]="pic.title" [src]='api_url + pic.file_name'/>
      <img *ngIf="pic.media_type == 'audio'" [alt]="pic.title" [src]='soundimgurl'/>
      <img *ngIf="pic.media_type == 'video'" [alt]="pic.title" [src]='soundimgurl'/>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>-->

</ion-content>
