page-page2 {

  .slider {
    height: 100%;
  }
  .slider-slide {
    padding-top: 120px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-weight: 300;
  }

  img {
    margin: auto;
  }

  ion-label {
    text-align: center;
  }
}
